<div class="login-form">
  <mat-card class="login-form">
    <mat-card-title>Login</mat-card-title>
    <mat-card-subtitle>Enter your credentials</mat-card-subtitle>
    <mat-card-content>
      <form [formGroup]="form">

          <mat-form-field class="form-field">
            <label>
              <input matInput placeholder="WWID" id="wwid" name="wwid" formControlName="wwid" required>
            </label>
          </mat-form-field>
          <mat-form-field class="form-field">
            <label>
              <input matInput placeholder="Password" id="pass" name="pass" formControlName="pass" type="password" required>
            </label>
          </mat-form-field>

      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="login()">Login</button>
    </mat-card-actions>
  </mat-card>
</div>

<!--
<form [formGroup]="form">
  <fieldset>
    <legend>Login</legend>
    <div class="form-field">
      <label>Email:</label>
      <input name="email" formControlName="email">
    </div>
    <div class="form-field">
      <label>Password:</label>
      <input name="password" formControlName="password"
             type="password">
    </div>
  </fieldset>
  <div class="form-buttons">
    <button class="button button-primary"
            (click)="login()">Login</button>
  </div>
</form>
-->
