<h1 mat-dialog-title>Please enter the data</h1>
<div mat-dialog-content>
  <p>Enter register field name:</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.registerField">
  </mat-form-field>
  <p>Enter register value:</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.registerValue">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button [mat-dialog-close]="data" cdkFocusInitial>Add</button>
</div>
