<button class="upper-button" mat-raised-button color="primary" (click)="openAddSettingDialog()">Add new setting </button>
<div *ngIf="dataSource !== undefined">
  <form [formGroup]="form">
    <mat-form-field class="field">
      <input matInput name="registerField" placeholder="New register field" formControlName="registerField">
    </mat-form-field>
    <mat-form-field class="field">
      <input matInput name="registerValue" placeholder="New register value" formControlName="registerValue">
    </mat-form-field>
    <button name="updateVals" class="lower-button" [color]="'custom1'" mat-raised-button (click)="updateSelected()">Update values</button>
  </form>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        Selection
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.select(row): null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="registerField">
      <th mat-header-cell *matHeaderCellDef> Register Field </th>
      <td mat-cell *matCellDef="let element"> {{element.registerField}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="registerValue">
      <th mat-header-cell *matHeaderCellDef> Register Value </th>
      <td mat-cell *matCellDef="let element"> {{element.registerValue}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)">
    </tr>
  </table>
</div>
