<div *ngIf="checkToken()">
  <div class="nav-bar">
    <nav mat-tab-nav-bar>
      <a mat-tab-link
         class="nav-link"
         *ngFor="let link of (getRoutes())"
         [routerLink]="link.path"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive">
        {{link.label}}
      </a>
      <a mat-tab-link
         class="nav-link"
         (click)="logout()"
         [routerLink]="logoutRoute.path"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive">
        {{logoutRoute.label}}
      </a>
    </nav>
  </div>
  <div *ngIf="checkRights() === '1'">
    <h1>PERMISSIONS LEVEL 1</h1>
  </div>
  <div *ngIf="checkRights() === '2'">
    <h1>PERMISSIONS LEVEL 2</h1>
  </div>
  <div *ngIf="checkRights() === '3'">
    <h1>PERMISSIONS LEVEL 3</h1>
  </div>
  <div *ngIf="checkRights() === '4'">
  </div>
  <button (click)="logout()">LOGOUT</button>
  <router-outlet></router-outlet>
</div>
<div *ngIf="!checkToken()">
  <app-authenticate-form></app-authenticate-form>
</div>
